.ShowChatButton {
    position: absolute;
    right: 12px;
    top: 12px;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
    line-height: 0;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    user-select: none;

    &.Visible {
        opacity: 1;
        pointer-events: auto;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.45);
    }
}
